/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2019, 8:20:04 AM
    Author     : manhg
*/

.left_back{
    -fx-background-color:  #3399FF;
}

.pane_1{
    -fx-arc-height: 100%;
    -fx-arc-width: 100%;
}

.left_pane{
    -fx-arc-width: 30%;
    -fx-arc-height: 100%;
}
.lable_form{
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-font-weight: bold; 
}
.lable{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.btn_primary{
    -fx-border-radius: 2%;
    -fx-background-color: #0033FF;
}

.btn_text{
    -fx-font-weight: bold;
    -fx-text-fill: #FFF;
}

.pan_right{
    -fx-background-color: #FF3333;
}

.top_pan{
    -fx-background-color: #66CCFF;
}

.text_area{
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 2%;
}

.btn_Back{
    -fx-border-radius: 2%;
    -fx-background-color: #D3D3D3;
}

.btn_Red{
    -fx-border-radius: 2%;
    -fx-background-color: #FF3333;
    -fx-font-weight:bold;
}

.table_account{
    -fx-border-color: black;
}

.btn_text_black{
    -fx-font-weight: bold;
    -fx-text-fill: #000;
}
.top_blue{
    -fx-background-color:  #3399FF;
}

.text_title{
    -fx-font-size:25px;
    -fx-font-color: black;
    -fx-font-weight: bold;
}

.btn_blue{
    -fx-background-color: #3399FF;
}